body {
    padding-top: 40px;
    background-image: url('../solar.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;

}

#template {
    padding: 60px 15px;
    text-align: center;
}



/*
        D3 - Bar Chart
===============================*/
.bar {
    fill: steelblue;
}

.axis {
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}



/*
light transparency of panels
============================= */

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(245, 245, 245, 0.98) !important;
}

.panel-transparent .panel-body{
    background: rgba(255, 255, 255, 0.88) !important;
}

.jumbotron {
    background: rgba(245, 245, 245, 0.8) !important;
}

.space{
    padding-top:5%;
}

.spaceDown{
    padding-top: 12%;
}

/*
gmaps style
============================= */
html, body, #maps {
    margin: 0;
    padding: 0;
    height: 200px;}


/*
D3 Tips
============================= */

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

